#welcomescreen {
  position: absolute;
  z-index: 9;
  background-image:url(https://i.pinimg.com/originals/51/dc/4b/51dc4be3e21778576cded73ba31f9768.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border: 1px solid #d3d3d3;
  padding: 10px;
  border-radius: 20px;
  width:450px;
  height: 800px;
}

#welcomescreenheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
   font-family: 'gorditas',sans-serif;
   font-size: 45px;
   
}

#welcomediv {
  background-color:rgba(135,206,250,0.9);
  width:fit-content;
  border-radius:20px;
  max-width: 450px ; 
  max-width: 600px ;
  padding:5px ; 
}

#welcometext {
color:rgba(230,101,54,0.85);
font-family:'gorditas',sans-serif;
font-size: larger;
word-break: normal ;
}

#header { 
  display: flex; 
  justify-content: flex-start ;
  backdrop-filter: blur 20px ;
  background-color: rgba(230,101,54,0.85);
  backdrop-filter:brightness(3) ;
  border-radius: 20px ;
}

#OSname {
  margin-left: 130px;
  background-color: rgba(135,206,250,0.9) ;
  border-radius:20px ;
  padding: 5px;
  font-family:'gorditas', sans-serif;
}

#timerstyle {
 background-color: rgba(135,206,250,0.9);
 border-radius: 20px;
margin-left: 16px ;
padding: 6px ; 
font-family:'gorditas', sans-serif;
}

.timeElement {
   background-color: rgba(135,206,250,0.9);
   border-radius: 20px;
    margin-left: 16px ;
     padding: 6px ;
      font-family:'gorditas', sans-serif;
}

.buttonvid {
background-color: lightskyblue ;
border-radius: 40px ;
width:fit-content;
font-family:'gorditas',sans-serif; 
}

.buttonmed {
background-color: lightskyblue ;
border-radius: 40px ;
width:fit-content;
font-family:'gorditas',sans-serif;
margin-left: 5px;
}

.quote {
 margin-left: 10px;
}

.quotetext {
padding: 5px ;
 background-color: lightskyblue;
 border-radius: 20px ; 
 font-family:'gorditas',sans-serif;  
 color:rgba(230,101,54,0.85);
}

.sunglass {
 height:79px;
 width:80px;
 position:absolute;
 left:16px;
 z-index: 9;
 cursor: pointer;
}

.runningGIF {
 height: 120px;
 width: 120px ;
 position:absolute;
 top: -35px;
 left: 650px;
}

.closewindow {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  height:30;
  width:30;
}

.notesIcon {
  text-align:center;
  width: 120px;
  height: 105px;
  padding: 5px ;
  border-radius:20px;
  background-color:rgba(60,9,108,0.85);
  margin-top:5px;

}

.twilghtnotes {
  width:80px ;
  height:85px;
  cursor: pointer;
}

.noteswording {
font-family:'gorditas',sans-serif;
color:rgba(199,157,215);
margin-top:1px;
}

#noteswindow {
background-image:url(https://i.pinimg.com/originals/3d/82/f0/3d82f0cf6ed646bc996c01c4a898bb22.jpg);
background-size: cover;
width:500px;
height:700px;
border-radius:20px;
padding:10px;
position:absolute;
z-index:9;
display:none;
flex-direction:column;
}

.notesheader {
  background-image:url(); 
  background-color:violet;
  text-align:center;
  font-family:'gorditas',sans-serif;
  font-size:30px ;
  border-radius:20px;
  border: 2px solid rgba(135,206,250);
  cursor:move;
}

.notescontent {
  background-image:url();
  background-color:rgba(199,157,215);
  border-radius:20px;
  width:fit-content;
  height:fit-content;
}

.notescontentbotbar {
  background-image:url();
  background-color:violet;
  border-radius:20px;
  position:absolute;
  align-items:bottom;
  text-align:center;
}

.addnotes {
  border-radius:20px;
  background-color:rgba(60,9,108,0.85);
  font-family:'gorditas',sans-serif;
  cursor:pointer;
}